#stage {
 position: relative;
 background-color: #3FF;
 margin: auto;
 width: 300px;
 height: 450px;
 overflow: hidden;
}
#player {
 background-color: red;
 position: absolute;
 width: 25px;
 height: 25px;
}
.platform {
  position: absolute;
  height: 2px;
  background-color: #600;
}
.onPlatform {
  background-color: green;
}
#ground {
  top: 448px;
  left: 0px;
  width: 300px;
}
#plat1 {
  top: 375px;
  left: 150px;
  width: 100px;
}
#plat2 {
  top: 325px;
  left: 0px;
  width: 100px;
}
#plat3 {
  top: 275px;
  left: 200px;
  width: 100px;
}
#plat4 {
  top: 225px;
  left: 75px;
  width: 100px;
}
#plat5 {
  top: 175px;
  left: 200px;
  width: 100px;
}
#plat6 {
  top: 125px;
  left: 0px;
  width: 100px;
}
#plat7 {
  top: 75px;
  left: 150px;
  width: 100px;
}
#goal {
  position: absolute;
  top: 25px;
  left: 200px;
  width: 25px;
  height: 25px;
  background-color: yellow;
  border-radius: 50%;
}
